<div  class="tree-view" id="theMenu" >
<header class="bp-header cf">
			<div class="dummy-logo">
				<div class="iconcss icon-release"></div>
				<h2 class="dummy-heading">Release Notes</h2>
			</div>
		
		</header>
<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
<section class="menu" id="search">
	<nav id="ml-menu" class="menu yellow">
			<button class="close-button" id="button"></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All" id="main">
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#" id="cloud">Cloud Path Access Services</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">CloudPath Client Android,<br> FireTV & AndroidTV</a></li>
					
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Cloud Path Access Services">
				    <li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Free Episode Trial - IDM Integration for number of assets available & array of watched IDs</a></li>
				    <li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">CPC Access Service - Upcoming Sprint Plan</a></li>
				    <li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">CP Services Configuration and Certification Checklist</a></li>
				    <li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Access Services Current PI-3 Roadmap</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1" aria-owns="submenu-1-1" href="#" id="live">Live Auth Kill Switch</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-2" aria-owns="submenu-1-2" href="#" id="media">Media Endpoint</a></li>
				</ul>
				<!-- Submenu 1-1 -->
				<ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Live Auth Kill Switch">
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Auth Kill Switch v1 : Live Stream : User Scenarios</a></li>
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Auth Kill Switch v1 - Live Stream : Initialization</a></li>
					
				</ul>
				<!-- Submenu 1-2 -->
				<ul data-menu="submenu-1-2" id="submenu-1-2" class="menu__level" tabindex="-1" role="menu" aria-label="Media Endpoint">
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Channels Available</a></li>
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Overview</a></li>
					
				</ul>
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="CloudPath Client Android, FireTV & AndroidTV">
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#" id="android">CloudPath Android SDK Road Map</a></li>
				</ul>
				<!-- Submenu 2-1 -->
				<ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="CloudPath Android SDK Road Map">
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">Android - Upcoming Sprint Plan</a></li>
					<li class="menu__item bottom-level" role="menuitem"><a class="menu__link" href="#">CPC Android Business Priorities - Product Owner (Last Updated 12/21)</a></li>
					
				</ul>
		
			</div>
		</nav>

</section>
</div>


