

.dropdown-list {
	display: inline;
	// margin-left: 10%;
	width: 100%;

	p {		
		width: auto;
		margin: 0 0px;
		line-height: 1;
		padding-top: 3px;
		font-size: 14px;
	}

	label {
		margin: 6px 12px 6px 0px;
		display: inline-block;
		flex-direction: row;
		cursor: pointer;
		padding: 0px 0px;
		border-bottom: solid 2px transparent;
		opacity: 0.4;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);

		&:first-of-type {
			margin-left: 6px;
		}
	}

	.toggle-green {
		opacity: 1;
		border-bottom: 2px solid $color-green;
	}
	.toggle-purple {
		opacity: 1;
		border-bottom: 2px solid $color-purple;
	}

}

.all-notes {
	
	color: $color-link;
}


