$color: $color_yellow;

input[type="text"] {
  height: 24px;
  font-size: 10px;
  display: inline-block;
  font-weight: 400;
  border: none;
  outline: none;
  font-size: 15px;
  color: #555;
  // padding: 3px;
  // padding-right: 100px;
  width: 24px;
  position: relative;
  background: none;
  z-index: 3;
  // transform: translateX(50px);
  border-bottom: 1px solid transparent;
  transition: width .8s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-color: $color;
}

input[type="text"]:focus {
  width: 200px;
  border-color: $color;
  cursor: text;
  margin-left: 25px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.icon-search {
    cursor: pointer;
    color: $color;
    font-size: 25px;
    display: block;
    transform: translateY(-24px);
  }

  @media screen and (min-width: 1824px) {
    .icon-search {
      transform: translateY(-25px) !important;
      transform: translateX(10px);
       }

    }

